<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

<main>
        <div class="logo-titulo">
            <img src="./img-admin/mas.png" alt="Imagen de signo mas">
                <h1>Crear nuevo producto</h1>
        </div>

        <!--Formulario que manda los datos al endpoint /-->
        <form id="altaProucts-container">

            <div class="input-datos">
                <label for="tituloProd">Titulo</label>
                <input class="input-ingreso" type="text" name="titulo" id="tituloProd" required>

                <label for="autorProd">Autor</label>
                <input class="input-ingreso" type="text" name="autor" id="autorProd" required>
                
                <label for="imageProd">Imagen</label>
                <input class="input-ingreso" type="text" name="ruta_img" id="imageProd" required>
                
                <label for="precioProd">Precio</label>
                <input class="input-ingreso" type="number" name="precio" id="precioProd" required>

                <label for="categoriaProd">Categoría</label>
                <select class="input-ingreso" name="categoria" id="categoriaProd">
                    <option value="usado">Usado</option>
                    <option value="nuevo">Nuevo</option>
                </select>

                <label for="sinopsisProd">Sinopsis</label>
                <input class="input-ingreso" type="text" name="sinopsis" id="sinopsisProd" required>

                <label for="activeProd">Activo</label>
                <select class="input-ingreso" name="activo" id="activeProd">
                    <option value=1>Activo</option>
                    <option value=0>Inactivo</option>
                </select>


            </div>

            <div class="input-enviar">
                <input class="input-submit" type="submit" value="Crear Producto">
            </div>
        </form>


        <section id="contenedor-productos"></section>
    </main>

    <script src="js/crear.js"></script>

<%- include("partials/footer.ejs")%>