
<%- include("partials/head.ejs") %>

<body class="tema1">

<%- include("partials/nav.ejs") %>

<main>
    <section id="contenedor-productos"></section>
</main>

<%- include("partials/modal.ejs")%>

<script type="module" src="js/index.js"></script>

<%- include("partials/footer.ejs")%>
</body>
</html>