
<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>


<main>
    <div class="logo-titulo">
        <img src="./img-admin/rueda.png" alt="Imagen de rueda">
        <h1>Panel administración | Entre líneas</h1>
    </div>
    <section id="contenedor-productos"></section>
</main>

<script src="js/index.js"></script>

<%- include("partials/footer.ejs")%>
                