<%- include("partials/head.ejs") %>

<main id="login-container">
    <h1>Login administrador</h1>
    
    <!-- Mostramos el mensaje de error del endpoint -->
    <% if (typeof error !== "undefined") { %>
        <div class="error-message">
            <%= error %>
        </div>
    <% } %>
    
    
    <form action="/login" method="POST" autocomplete="off" id="login-form">
    
        <label for="emailUser">Email</label>
        <input type="email" name="email" id="emailUser" required>
    
        <label for="passwordUser">Password</label>
        <input type="password" name="password" id="passwordUser" required>
    
        <div class="login-botonera">
            <input type="submit" id="input-login" value="Login">
            <input type="button" id="acceso-rapido" value="Acceso rapido">
        </div>
    </form>
</main>



<script>
    // Funcionalidad boton acceso rapido
    let emailUser = document.getElementById("emailUser");
    let passwordUser = document.getElementById("passwordUser");

    let acceso_rapido = document.getElementById("acceso-rapido");

    acceso_rapido.addEventListener("click", () => {
        emailUser.value = "male@gmail.com";
        passwordUser.value = "admin_123"
    });
</script>

