
<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>


<main>
        <div class="logo-titulo">
            <img src="./img-admin/boligrafo.png" alt="Imagen de boligrafo">
                <h1>Actualizar producto</h1>
        </div>

        <form id="getProduct-form">
            <div class="ingresoId">
                <label for="idProd">Id del Producto</label>
                <input class="input-ingreso" type="number" name="idProd" id="idProd" required>
            </div>
            
            <input class="input-submit" type="submit" value="Buscar">
        </form>

        <section id="contenedor-productos">
            <ul id="lista-productos"></ul>
        </section>

        <section id="updateFormContainer"></section>
    </main>


<script src="js/modificar.js"></script>

<%- include("partials/footer.ejs")%>
                