:root{
    --cremita: #f8eacf;
    --cremin: rgb(233, 229, 222);
    --marron: #452C27;
    --marron-claro: #664D4D;
    --fuente-titulos:"Vend Sans", sans-serif;
    --fuente-secundaria: "Nunito Sans", sans-serif;
    --shadow: 0 6px 10px rgba(70, 39, 5, 0.15);
    --iluminador: 0 1px 10px rgba(248, 234, 207, 0.15);
}

body{
    font-family:  var(--fuente-secundaria);
    background-color: white;
    color: var(--marron);
}

/*========================
TEMA
======================*/
#cambiarTema {
    background: none;
    border: none;
    cursor: pointer;
}

#cambiarTema img {
    width: 30px;
}
.tema2{
    background-color: var(--marron-claro);
    color: var(--cremita);
} 

.tema2 h2{
    color: var(--cremita);
}

.tema2 header,.tema2 .card-producto, .tema2 .card-producto button,.tema2 .bloque-item,.tema2 .btn-vaciar,.tema2 .btn-pagar,.tema2 .boton-eliminar,.tema2 .boton-sumar,.tema2 .boton-restar, .tema2 .input-submit, .tema2 #altaProucts-container, .tema2 #updateProducts_form, .tema2 .botones-modal{
    box-shadow: var(--iluminador);
}


/*==================
    HEADER
====================*/
header {
    display: flex;
    justify-content: space-between;  
    align-items: center;             
    flex-wrap: wrap;
    background-color: var(--marron);
    box-shadow: var(--shadow);
    padding: 1rem;
}

header h1 {
    color: var(--cremita);
}


.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.logo-titulo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.logo-titulo img {
    width: 40px;
    height: 40px;
}

h1 {
    font-family: var(--fuente-titulos);
    font-weight: 400;
    font-style: normal;
}


nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: var(--cremita);
    font-weight: 600;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}


/*===============
    main
================*/

#contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem
}

.card-producto {
    width: 250px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 2px;
    padding: 1 rem;
    border-radius: 5px;
    box-shadow:  0 6px 10px rgba(70, 39, 5, 0.15);
}


.card-producto h3 {
    text-align: center;
}

.card-producto img {
    width: 100px;
    height: auto;
}

.card-producto p {
    margin: 0;
    text-align: center;
}

.card-producto button {
    margin-top: 1rem;
}

#lista-productos{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    width: 50%;
    
}

/*===============
    Consultar id
================*/

.li-producto {
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    gap: 1rem;
}

.li-producto img {
    width: 100px;
    height: auto;
}

#getProduct-form, #form-modificar-producto, #form-eliminar-producto {
    display: flex;
    flex-wrap: wrap;
    align-items: center;     
    gap: 1rem;               
    width: fit-content;   /* Ajusta el ancho al contenido */
}

.ingresoId {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}


.input-submit {
    font-family: var(--fuente-secundaria);
    background-color: var(--marron);
    color: var(--cremita);
    border-radius: 3px;
    border: var(--marron);
    margin-bottom: 0.5rem;
    cursor:pointer;
}

.input-submit:hover, .btn-envio:hover {
    color: white;
}

.input-ingreso {
    width: 200px;   
    border: 1px solid var(--cremita);
    border-radius: 8px;
    padding: 0.2rem;
    font-size: 15px;

}

#alta-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    flex-wrap: wrap;
    align-items: flex-start; /* Alinea arriba, evita que uno suba/baje */
    gap: 3rem; /* Espacio entre los formularios */
    padding: 2rem;
}

#altaProucts-container, #altaUsers-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    gap: 0.5rem;
    margin: 0 auto; 
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--cremita);
    color: var(--marron);
    box-shadow:  var(--shadow);
}



.input-datos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

select option {
    color: var(--marron);
    background-color: var(--cremita);
}

.input-enviar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-envio {
    font-family: var(--fuente-secundaria);
    background-color: var(--marron);
    color: var(--cremita);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


/*===============
    Actualizar
=================*/
.li-botonera {
    list-style: none;
}

#updateProducts_form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;         /* que pueda tomar todo el ancho disponible */
    max-width: 500px;    /* pero no más grande que 500px */
    gap: 0.5rem;
    padding: 1.5rem;

    border-radius: 8px;
    margin: 0 auto;
    
    color: var(--marron);
    background-color: var(--cremita);
    box-shadow: var(--shadow);
}

/* Inputs internos */
#updateProducts_form .input-ingreso {
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    #updateProducts_form {
        padding: 1rem;
        max-width: 90%;   /* se adapta mejor a tablets */
    }
}

@media (max-width: 480px) {
    #updateProducts_form {
        padding: 0.8rem;
        max-width: 100%;  /* en celular ocupa toda la pantalla */
        border-radius: 5px;
    }

    #updateProducts_form label {
        font-size: 0.9rem;
    }
}

/*=================
Eliminar
=================*/

.estado-activo {
    color: rgb(1, 190, 1);
    font-weight: bold;
}

.estado-inactivo {
    color: red;
    font-weight: bold;
}

/*==============
FOOTER
======================*/
#section-logout {

    text-align:end;
    margin-top: 3rem;
} 

footer {
    margin-top: 1rem;
    background-color: var(--cremita);
    color: var(--marron);
    border-radius: 5px;
    
}


.contenedor-footer {
    display: flex;
    justify-content: space-between;

}

#datosAlumno {
    text-align:right;
    margin-right: 1rem;
}

.message-error {
    list-style: none;
    padding: 0.2rem;
    border: 1px solid var(--cremita);
    border-radius: 5px;
    width: 50%;
    text-align: center;    
    font-size: 16px;
    font-weight: bold;
    color: #eb99a1;;
}

/*================
Login
==================*/

#login-container h1 {
    color: var(--marron)
}

#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    justify-content: space-evenly;
}

.login-botonera {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

#input-login, #acceso-rapido {
    font-family: var(--fuente-secundaria);
    border-radius: 5px;
    background-color: var(--cremita);
    border: var(--cremita);
    color: var(--marron);
    cursor: pointer;

}



#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message {
    color: red;
    font-size: 20px;    
}

form button, .btn-cancelar, .btn-confirmar {
    font-family: var(--fuente-secundaria);
    border-radius: 5px;
    padding: 0.5rem;
    color: var(--cremita);
    box-shadow: 0 6px 10px rgba(70, 39, 5, 0.15);
    border: none;
    background-color: var(--marron);
    cursor: pointer;
}

form button:hover {
    border: 1px solid var(--marron);
}

#input-logout {
    font-family: var(--fuente-secundaria);
    border-radius: 3px;
    background-color: var(--marron);
    border: none;
    color: var(--cremita);
    cursor: pointer;
}

#input-logout:hover {
    color: #eb99a1;
}

form input {
    width: 200px;   
    height: 30px;   
    border: 1px solid var(--cremita);
    border-radius: 8px;
    padding: 0.2rem;
    font-size: 15px;
}

input:focus {
    outline: none;
    border: 1px solid var(--marron);
    box-shadow: 0 0 5px var(--marron);
}

/*===============
MODAL
==================*/
.modalContainer h2 {
    color: var(--marron) !important;
}

.modalContainer .modal-content {
    background-color: var(--cremita);
    color: var(--marron);
    margin: auto;
    width: 100%;           /* ocupa todo el ancho disponible */
    max-width: 450px;      /* pero no se estira más de esto */
    padding: 20px;
    box-shadow: var(--iluminador);
    border-radius: 8px;
    text-align: center;
}


.modalContainer {
    display: flex;   
    justify-content: center; 
    align-items: center;     
    padding:20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;      
    height: 100%; 
    background: rgba(36, 21, 5, 0.5);
    box-sizing: border-box;

}

    
.botones-modal {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}