<section id="section-logout">
    <form action="/logout" id="logout" method="POST">
            <input type="submit" id="input-logout" value="Cerrar sesion">
    </form>
</section>
<footer>
    <hr>
    <div class="contenedor-footer">
        <button id="cambiarTema">
            <img src="./img-admin/icono-tema.png" alt="Icono de cambio de tema">
        </button>
        <div id="datosAlumno"></div>
    </div>
</footer>
