<div id="ButtonModal" class="modalContainer" style="display:none;">
    <div class="modal-content">

        <h2 id="modalTitulo">¿Estás seguro de reactivar el producto?</h2>

        <div class="botones-modal">
            <button id="btnConfirmarImpresion" class="btn-confirmar">Confirmar</button>
            <button id="btnCancelarModal" class="btn-cancelar">Cancelar</button>
        </div>
    </div>
</div>
