<header>
    <nav>
        <ul>
            <li><a href="/">Ver</a></li>
            <li><a href="/consultar">Consultar id</a></li>
            <li><a href="/crear">Crear</a></li>
            <li><a href="/modificar">Modificar</a></li>
            <li><a href="/eliminar">Eliminar</a></li>
        </ul>
    </nav>
    <!-- Boton para destruir sesion y redirigir a /login -->
    <form action="/logout" id="logout" method="POST">
        <input type="submit" value="Cerrar sesion">
    </form>
</header>
<h1><%= about %></h1>
<hr>
