<header>
    <div class="titulo">
        <img src="/img-admin/libro.png" alt="Logo de libro">
            <h1>Panel de administración | Entre líneas</h1>
    </div>
    </div>
    <nav>
        <ul>
            <li><a href="/">Ver</a></li>
            <li><a href="/consultar">Consultar id</a></li>
            <li><a href="/crear">Crear</a></li>
            <li><a href="/modificar">Modificar</a></li>
            <li><a href="/eliminar">Eliminar</a></li>
        </ul>
    </nav>
    
</header>
<!-- Título e icono dinámicos -->
<div class="logo-titulo">
    <% if (typeof icon !== "undefined") { %>
        <img src="/img-admin/<%= icon %>.png" alt="icono de la página">
    <% } %>

    <% if (typeof title !== "undefined") { %>
        <h1><%= title %></h1>
    <% } %>
</div>

