<header>
    <nav>
        <ul>
            <div class="logo-titulo">
                <img src="./img-admin/libro.png" alt="Logo de libro">
                <h1>Entre líneas</h1>
            </div>
            <li><a href="/">Ver</a></li>
            <li><a href="/consultar">Consultar id</a></li>
            <li><a href="/crear">Crear</a></li>
            <li><a href="/modificar">Modificar</a></li>
            <li><a href="/eliminar">Eliminar</a></li>
        </ul>
    </nav>
</header>
<h1><%= about %></h1>
